.main_card {
    width: 300px;
    margin: 30px 10px;
    /* margin-bottom: 110px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    height: 400px;
    /* border: 2px solid red; */
}

.card_action {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    flex-direction: column;
}

.cart_box {
    height: 250px;
    width: 300px;
    padding: 5px;
}

.cart_img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 960px) {
    .main_card {
        width: 220px;
        height: 350px;
        padding: 10px;
    }

    .cart_box {
        height: 200px;
        width: 200px;
        padding: 15px;

    }

}

/* @media (min-width: 768px) and (max-width:1023px) {} */