.nav-items {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* background-color: red; */


}

.links {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    /* color: inherit; */

}