* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 3px solid red !important; */
}


.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



a {
  text-decoration: none;
  color: #353535;

}

.all-btn {
  width: 110px;
  /* text-align: center; */
}

.active {
  /* color: #1976d2; */
  background-color: #1976d2;
  color: white;
  border-radius: 50px;
  /* width: 60px; */

}

.toastContainerBox {
  position: fixed;
  top: 120px;
}

.margin {
  margin-top: 120px;
}

@media screen and (max-width: 960px) {
  .all-btn {
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toastContainerBox {
    max-width: 250px;
    top: 80px;
    left: 80px;

  }

  .margin {
    margin-top: 50px;
  }

  .active {
    color: #1976d2;
    background-color: transparent;
  }
}

@media (min-width: 768px) and (max-width:1023px) {}

@keyframes floating {

  0%,
  100% {
    transform: translateY(0rem);

  }

  50% {
    transform: translateY(-1rem);

  }
}