* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



a {
  text-decoration: none;
  color: #353535;

}

.all-btn {
  width: 110px;
}

.active {
  /* color: #1976d2; */
  background-color: #1976d2;
  color: white;
  border-radius: 50px;
  /* width: 60px; */
}